configuration {
    lines:		4;
}

* {
    background-color:	#3c3836;
    border-color:	#458588;
    text-color:		#f9f5d7;
    font:		"Fira Code 12";
}

#window {
    anchor:     northeast;
    location:   northeast;
    width:      15%;
    padding:    2px;
}

#element {
    padding: 2px;
}

#element selected {
    background-color: #f9f5d7;
    text-color: #3c3836;
}
