# .aliases
# created by Nick Garcia
# https://github.com/NicksIdeaEngine/dotfiles

# {{{ table of contents

# 0. globals
# 1. navigation
# 2. config files
# 3. todotxt cli
# 4. useful replacements
# 5. git
# 6. npm
# y. system aliases
# z. overflow

# }}}
# {{{ 0. globals

dbx="/mnt/sdc1/dbx"
alias sudo="sudo "
alias {v,vi,vim}="nvim"

# }}}
# {{{ 1. navigation

# move to certain folders
alias navls="echo 'dbx cfg cod doc dot dwn mzk pix prj pfl \
                  \nref scr tmp vds wrt cpy userchrome[dev]'" \
      dbx="cd $dbx" \
      cfg="cd ~/.config" \
      cod="cd ~/code" \
      doc="cd ~/docs" \
      dot="cd ~/dots" \
      dwn="cd ~/dwn" \
      mzk="cd ~/music" \
      pix="cd ~/pics" \
      prj="cd ~/proj" \
      pfl="cd ~/proj/nickgarcia" \
      ref="cd ~/refs" \
      scr="cd ~/scripts" \
      tmp="cd ~/tmp" \
      vds="cd ~/vids" \
      wrt="cd ~/writing" \
      cpy="cd ~/writing/copywriting" \
      userchrome="cd ~/.mozilla/firefox/65rf3aso.default-release/chrome" \
      userchromedev="cd ~/.mozilla/firefox/ad1fuz9r.dev-edition-default/chrome"

# sped up cd navigation
alias cd.="cd .." \
      cd..="cd .." \
      {..,.1}="cd .." \
      {...,.2}="cd ../.." \
      {....,.3}="cd ../../.." \
      {.....,.4}="cd ../../../.."

# }}}
# {{{ 2. config files

# open quantify workspace
# alias quantify="code $dbx/quant/quant.code-workspace"

# config editing binds
alias cfls="echo 'Alias Bashrc[L,P] Compton Dunst Firefox FirefoxDev I3wm \
                \nKitty Mpd Nvim Polybar PRofile Ranger RescueTime St Tmux \
                \nVim Xresources Ytdl[S,V] Zshrc[E,P]'" \
      cfa="vim ~/.aliases" \
      cfb="vim ~/.bashrc" \
      cfbl="vim ~/.bash_logout" \
      cfbp="vim ~/.bash_profile" \
      cfc="vim ~/.config/compton.conf" \
      cfd="vim ~/.config/dunst/dunstrc" \
      cff="vim ~/.mozilla/firefox/65rf3aso.default-release/chrome/userChrome.css" \
      cffd="vim ~/.mozilla/firefox/ad1fuz9r.dev-edition-default/chrome/userChrome.css" \
      cfi="vim ~/.config/i3/config" \
      cfk="vim ~/.config/kitty/kitty.conf" \
      cfm="vim ~/.config/mpd/mpd.conf" \
      cfn="vim ~/.config/nvim/init.vim" \
      cfp="vim ~/.config/polybar/config.ini" \
      cfpr="vim ~/.profile" \
      cfr="vim ~/.config/ranger/rc.conf" \
      cfrt="vim ~/.config/rescuetime/.rtgoals" \
      cfs="vim ~/.local/st/config.h" \
      cft="vim ~/.tmux.conf" \
      cfv="vim ~/.vimrc" \
      cfx="vim ~/.Xresources" \
      cfys="vim ~/.config/youtube-dl/songconfig" \
      cfyv="vim ~/.config/youtube-dl/vidconfig" \
      cfz="vim ~/.zshrc" \
      cfze="vim ~/.zshenv" \
      cfzp="vim ~/.zprofile"

# recompile st terminal
alias instst="cd ~/.local/st && sudo make install && alert 'st has been rebuilt'"

# }}}
# {{{ 3. todotxt cli

# todo.txt aliases
alias _t="todo.sh -c -t -d ~/.config/todo/config" \
      tls="echo 'todo: open todo.txt | t: show tasks by project | tg: graph \
               \ntfg: config | tm: many | ta: wp add | tap: append | tdu: due \
               \ntpp: prep | tp: pri | tv: view | tvp: view project | tdo: do'" \
      todo="vim $HOME/todo/todo.txt" \
      tpr="clear;todo.sh -c -t -d ~/.config/todo/config" \
      tg="clear;todo.sh graph 30" \
      tgr="clear;todo.sh graph" \
      tgw="clear;todo.sh graph 7" \
      tfg="vim ~/.config/todo/config" \
      tfgalloc="vim ~/.config/todo/.actions.d/wp/allocations.conf" \
      tm="_t many" \
      ta="_t wp add" \
      tap="todo.sh app" \
      tdp="todo.sh depri" \
      tdu="clear;todo.sh due" \
      tpp="todo.sh prep" \
      tp="todo.sh pri" \
      trp="_t replace" \
      tv="clear;todo.sh view" \
      tvc="clear;todo.sh view context" \
      tvp="clear;todo.sh view project" \
      tdo="todo.sh again" \
      tch="todo.sh chcon" \
      talloc="todo.sh wp alloc" \
      twl="todo.sh wp ls" \
      tdn="todo.sh donow" \
      tws="todo.sh wp summary" \
      twg="todo.sh wp graph" \
      tdump="vim $HOME/todo/dump.txt"

# }}}
# {{{ 4. useful replacements

# helpful reference for creating sym links
alias lnls="echo 'ln -s <file to be linked> <location of the link>'" \
      c="clear" \
      h="history" \
      how='function hdi(){ howdoi $* -c -n 5; }; hdi' \
      gcal="gcalcli" \
      :q="exit" \
      {md,mkdir}="mkdir -pv" \
      {rd,rmdir}="rmdir -v" \
      sym="$HOME/scripts/symswitch.sh" \
      updatr="$HOME/scripts/updatr.sh" \
      sshrestart="sudo systemctl restart ssh.service"

# pacman shortcuts
alias pmss="pacman -Ss" \
      pmqs="pacman -Qs" \
      pmsyu="sudo pacman -Syu" \
      pmrsu="sudo pacman -Rsu"


# ask when deleting multiple
alias rm="rm -I" \
      rmf="rm -Irvf"

# some more ls aliases
alias ll="ls -halF" \
      la="ls -A" \
      l="ls -hlF" \
      lsa="ls -lah" \
      lsd="ls -lF | grep '^d'" \
      lr="ls -tRFh" \
      ldot="ls -ld .*" \
      lS="ls -1FSsh"

# leave ranger and enter that directory in terminal
alias ranger="source ranger" \
      rn="source ranger"

# use i3lock when afk
alias afk="i3lock -ti /mnt/sdc1/Dropbox/pics/wallpaper/wall509.png"

alias grablist="youtube-dl --config-location ~/.config/youtube-dl/songconfig \"https://www.youtube.com/playlist?list=PLedhaNZS3z5JfQ8lQIY3Drq3bvNX2TKSP\" && alert 'grablist complete'"
alias grabsong="youtube-dl --config-location ~/.config/youtube-dl/songconfig \"https://\" && alert 'grabsong complete'"
# alias grabvid="youtube-dl --config-location ~/.config/youtube-dl/vidconfig \"https://\" && alert 'grabvid complete'"
alias grabvid="youtube-dl --config-location ~/.config/youtube-dl/vidconfig"

# clear youtube-dl cache
alias ytdlcache="youtube-dl --rm-cache-dir && alert 'youtube-dl cache removed!'"

# restart redshift with config
alias rered="redshift -c /home/efex/.config/redshift.conf &!"

# }}}
# {{{ 5. git

alias ga="git add" \
      gcm="git commit -m" \
      gacm="git add . && git commit -m" \
      gph="git push origin master" \
      gpl="git pull origin master" \
      gplr="git pull --rebase origin" \
      gst="git status" \
      gfa="git fetch --all"

# }}}
# {{{ 6. npm

alias nis="npm install --save" \
      nid="npm install --save-dev" \
      nrd="npm run devserver" \
      ndv="npm run develop" \
      nst="npm start" \
      nbd="npm run build" \
      nsr="npm run serve" \
      ncl="npm run clean"

# }}}
# {{{ y. system aliases

# Add an "alert" alias for long running commands.  Use like so:
alias alert='notify-send --urgency=normal '

alias alow='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias anorm='notify-send --urgency=normal -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias acrit='notify-send --urgency=critical -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# refresh .zshrc file
alias fresh="source ~/.zshrc;clear"

# system tools
alias cachecheck="du -sh /home/efex/.cache/thumbnails/"
alias cacheclean="rm -rf /home/efex/.cache/thumbnails/* && alert 'cacheclean is complete!'"
alias snupdate="sudo snap refresh"
alias snapcheck="du -h /var/lib/snapd/snaps"
alias snapclean="sudo $HOME/scripts/snapclean.sh && alert 'snapclean is complete!'"

# pip and pip3 updaters
alias pipupdate="pip freeze --local | sed -rn 's/^([^=# \t\\][^ \t=]*)=.*/echo; echo Processing \1 ...; pip install -U \1/p' | sh"
alias pip3update="pip3 freeze --local | sed -rn 's/^([^=# \t\\][^ \t=]*)=.*/echo; echo Processing \1 ...; pip3 install -U \1/p' | sh"

# .Xresources handling - reload, merge
#alias xm="xrdb -merge ~/.Xresources"
#alias xr="xrdb ~/.Xresources"

# Set default sink
alias speakers="pactl set-default-sink alsa_output.pci-0000_0a_00.3.analog-stereo"
alias headphones="pactl set-default-sink alsa_output.usb-Logitech_Logitech_G430_Gaming_Headset-00.analog-stereo"

# }}}
# {{{ z. overflow

# get week number
# alias week="date +%V"

# Example aliases
# alias lart="ls -1Fcart"
# alias lrt="ls -1Fcrt"
# alias h="history"
# alias p="(processes for current user)"
# alias H="| head"
# alias T="| tail"
# alias G="| grep"
# alias L="| less"
# alias M="| most"
# alias LL="2>&1 | less"
# alias CA="2>&1 | cat -A"
# alias NE="2> /dev/null"
# alias NUL="> /dev/null 2>&1"
# alias P="2>&1| pygmentize -l pytb"

# Git Aliases
# alias gs='git status'
# alias gstsh='git stash'
# alias gst='git stash'
# alias gsp='git stash pop'
# alias gsa='git stash apply'
# alias gsh='git show'
# alias gshw='git show'
# alias gshow='git show'
# alias gi='vim .gitignore'
# alias gcm='git ci -m'
# alias gcim='git ci -m'
# alias gci='git ci'
# alias gco='git co'
# alias gcp='git cp'
# alias ga='git add -A'
# alias gap='git add -p'
# alias guns='git unstage'
# alias gunc='git uncommit'
# alias gm='git merge'
# alias gms='git merge --squash'
# alias gam='git amend --reset-author'
# alias grv='git remote -v'
# alias grr='git remote rm'
# alias grad='git remote add'
# alias gr='git rebase'
# alias gra='git rebase --abort'
# alias ggrc='git rebase --continue'
# alias gbi='git rebase --interactive'
# alias gl='git l'
# alias glg='git l'
# alias glog='git l'
# alias co='git co'
# alias gf='git fetch'
# alias gfp='git fetch --prune'
# alias gfa='git fetch --all'
# alias gfap='git fetch --all --prune'
# alias gfch='git fetch'
# alias gd='git diff'
# alias gb='git b'
# # Staged and cached are the same thing
# alias gdc='git diff --cached -w'
# alias gds='git diff --staged -w'
# alias gpub='grb publish'
# alias gtr='grb track'
# alias gpl='git pull'
# alias gplr='git pull --rebase'
# alias gps='git push'
# alias gpsh='git push -u origin `git rev-parse --abbrev-ref HEAD`'
# alias gnb='git nb' # new branch aka checkout -b
# alias grs='git reset'
# alias grsh='git reset --hard'
# alias gcln='git clean'
# alias gclndf='git clean -df'
# alias gclndfx='git clean -dfx'
# alias gsm='git submodule'
# alias gsmi='git submodule init'
# alias gsmu='git submodule update'
# alias gt='git t'
# alias gbg='git bisect good'
# alias gbb='git bisect bad'
# alias gdmb='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'

# # Common shell functions
# alias less='less -r'
# alias tf='tail -f'
# alias l='less'
# alias lh='ls -alt | head' # see the last modified files
# alias screen='TERM=screen screen'
# alias cl='clear'

# # Zippin
# alias gz='tar -zcvf'

# }}}
