:root {
  --arrowpanel-border-color: #458588ff !important;
  --arrowpanel-color: #3c3836ff !important;
  --arrowpanel-background: #f9f5d7ff !important;
  --autocomplete-popup-background: #f9f5d7ff !important;
  --autocomplete-popup-color: #3c3836ff !important;
  --chrome-content-separator-color: transparent !important;
  --chrome-nav-bar-controls-border-color: transparent !important;
  /* inactive tabs / top bar background color */
  --lwt-accent-color: #d5c4a1ff !important;
  /* tab / bookmarks bar text color */
  --lwt-text-color: #3c3836ff !important;
  /* URL field background color */
  --lwt-toolbar-field-background-color: #ebdbb2ff !important;
  /* top bar button hover background color */
  --lwt-toolbarbutton-hover-background: #ebdbb2ff !important;
  /* top bar button fill color */
  --lwt-toolbarbutton-icon-fill: #458588ff !important;
  --moz-menubartext: #458588ff !important;
  --tab-min-height: 26px !important;
  --tabs-border: transparent !important;
  --toolbar-bgcolor: #f9f5d7ff !important;
  --toolbarbutton-border-radius: 0px !important;
  --toolbarbutton-inner-padding: 5px !important;
  --toolbarbutton-outer-padding: 0px !important;
  /* --toolbox-border-bottom-color: 0px !important; */
  --urlbar-separator-color: #665c54ff !important;
}

/* Toolbar / content area border */
#navigator-toolbox {
  border-bottom: 0px !important;
}

/* Bookmark toolbar */
#PersonalToolbar {
  max-height: 22px !important;
  padding: 0px 6px !important;
  border-color: transparent !important;
}

:root[uidensity=compact] #PersonalToolbar {
  padding-inline: 0px !important;
}

:root[uidensity=compact] #urlbar, :root[uidensity=compact] #searchbar {
  min-height: 25px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}

#TabsToolbar {
  margin-bottom: 3px !important;
  margin-top: -1px !important;
  margin-left: 20vw !important;
  margin-right: -34px !important;
}

#tabs-newtab-button {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

#nav-bar {
  margin-bottom: 0px !important;
  margin-top: -29px !important;
  margin-right: 80vw !important;
  border-top: 0px !important;
}

#urlbar[focused=true], #urlbar, #urlbar-container, #nav-bar-customization-target.customization-target {
  border: none !important;
  min-width: 100% !important;
}

#urlbar-container {
  padding: 0px 0px !important;
  margin: 0px !important;
}

.tabbrowser-tab, .tab-background, .tab-content {
  mask-image: unset !important;
  margin: 0px !important;
}

.toolbarbutton-badge-stack {
  margin-left: 0px !important;
}

/* Remove padding above tabbar in compact mode */
#main-window[sizemode=normal] > #titlebar {
  -moz-appearance: initial !important;
}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow,
#nav-bar-overflow-button {
  -moz-box-ordinal-group: 0 !important;
}

#appMenu-popup {
  margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border: 0px !important;
}

.tabbrowser-tab:hover {
  background-color: #f9f5d7ff !important;
}

/* tab line - adjust color & size, default #0a84ff 2px */
.tab-line {
  height: 0px !important;
  border-bottom: none !important;
}

#identity-box {
  max-width: 0px !important;
}

*|*.textbox-input::-moz-placeholder {
  opacity: 0 !important;
}

#minimize-button, #restore-button, #close-button,
#appMenu-fxa-container,
#appMenu-fxa-container + toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-edit-controls,
#appMenu-edit-controls + toolbarseparator,
#appMenu-customize-button,
#appMenu-customize-button + toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#urlbar-zoom-button,
#pocket-button-box,
#back-button,
#forward-button,
#reload-button,
#stop-button,
#stop-reload-button,
ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels,
#identity-icon,
.urlbar-go-button,
#sidebar-button,
.tabs-newtab-button.toolbarbutton-1,
#new-tab-button,
#pageActionSeparator,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional {
  display: none !important;
}

/*# sourceMappingURL=userChrome.css.map */
