configuration {
  lines: 20;
  show-icons: true;
  columns: 2;
}

* {
  background-color:	@fg1;
  text-color: @bg1;
  font:	@font-medium;
}

window {
  anchor: center;
  location: center;
  width: 65%;
  padding: 10px;
  border: 0;
}

element {
  padding: 10px;
}

element selected {
  background-color: @bg1;
  text-color: @fg1;
}

@import "config.rasi"
@import "gruvbox-light.rasi"
